<form hx-post="{% url 'issues:add_issue' slug=apartment.slug %}" hx-target="#issues" hx-swap="beforeend">
    {% csrf_token %}
{#    {% if errors %}#}
{#        <div class="errorlist">#}
        {% for error in errors %}
            <p>{{ error }}</p>
        {% endfor %}
{#        </div>#}
{#    {% endif %}#}
    {{ form_add_issue }}
    <button type="submit"
            id="btn-add-issue"
            title="Ajouter incident"
            onclick="disabledButtonAfterClick()">Ajouter incident</button>
</form>