<tbody>
    <tr>
        <th class="md:px-4 md:py-2 p-1 text-left border-t">{{ room }}</th>
        <td class="md:px-4 md:py-2 p-1 border-t">{{ issue }}</td>
        <td class="md:px-4 md:py-2 p-1 border-t">{{ detail }}</td>
        <td class="md:px-4 md:py-2 p-1 text-center md:text-left border-t">
            <button class='btn-delete'
                    hx-delete="{% url 'issues:delete_issue' id %}"
                    hx-target="closest tbody"
                    hx-swap="outerHTML" title="Supprimer l'incident">❌</button>
{#                      <button class='btn-edit' hx-edit="{% url 'edit_issue' issue_id %}" title="Modifier l'incident">✏️</button>#}
        </td>
    </tr>
</tbody>