{% block issues_display %}
    <div class="btn-slide-container">
        <button class="btn-open-slide-form"
                onclick="toggleForm(this)"
                hx-get="add_issue"
                hx-target="#slide-form-add-issue">
            <span>Ajouter incident</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
            </svg>
        </button>
    </div>
    <div id="slide-form-add-issue" class="contain-slide-form"></div>
    <div class="border rounded-md overflow-hidden w-full">
            <table id="issues" class="w-full text-sm bg-white md:text-base"
                               style="table-layout: fixed" >
                <thead>
                    <tr class="text-lg">
                        <th class="table-cell-p">Pièce</th>
                        <th class="table-cell-p text-left">Type</th>
                        <th class="table-cell-p text-left w-1/3">Détails</th>
                        <th class="table-cell-p text-left">Actions</th>
                    </tr>
                </thead>
                {% for room, issues in apartment_issues_dict.items %}
                {% for issue, details_list in issues.items %}
                {% for detail, issue_id in details_list %}
                    <tbody>
                        <tr>
                            <th class="table-cell-p text-left border-t">{{ room }}</th>
                            <td class="table-cell-p border-t">{{ issue }}</td>
                            <td class="table-cell-p border-t" style="word-wrap: break-word">{{ detail }}</td>
                            <td class="table-cell-p text-center md:text-left border-t">
                                <button class='btn-delete'
                                        hx-delete="{% url 'issues:delete_issue' issue_id %}"
                                        hx-target="closest tbody"
                                        hx-swap="outerHTML" title="Supprimer l'incident">❌</button>
                                {#          <button class='btn-edit' hx-edit="{% url 'edit_issue' issue_id %}" title="Modifier l'incident">✏️</button>#}
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
                {% endfor %}
                {% endfor %}
            </table>
        </div>
{% endblock %}
