@tailwind base;
@tailwind components;
@tailwind utilities;


@tailwind base;
@tailwind components;
@tailwind utilities;

/* global */

body {
    @apply h-full bg-gray-50 text-gray-800
}

.container {
    @apply md:p-6 py-2 px-4 border bg-white rounded-md overflow-hidden
}

.btn-slide-container {
    @apply flex flex-col justify-center mb-4 w-full
}

.main {
    @apply md:max-w-4xl md:p-6 max-w-xl mx-auto p-2 flex flex-col items-center
}

.title-category {
    @apply text-2xl text-center
}

.disable-link {
    pointer-events: none;
}

.span-description {
    @apply font-medium mt-3;
}

/* Erreurs */

.errorlist {
    @apply text-red-600 text-sm
}


/* Table */
.table-cell-p {
    @apply md:px-4 md:py-2 p-1
}

/* Formulaire */

form {
    margin-block-end: 0;
    padding: 0.5em 1em;
}

/* Cartes d'en tête */

.card-head-apart {
    @apply md:max-w-xl w-full bg-white grid grid-cols-9
}

.card-head-apart-col-label {
    @apply col-span-5 md:col-span-4 md:col-start-1 pr-2
}

.card-head-apart-col-btn {
    @apply flex flex-col justify-start gap-2 col-start-6 col-end-10 md:col-start-7
}

.card-apart-row-bottom {
    @apply w-full mt-2 md:mt-4 col-start-4 col-end-7 justify-self-center
}

/* card */

.card-apart-width {
    max-width: calc(50% - 16px);
}

.card-apart-name {
    @apply text-xl font-semibold mb-2 col-span-full
}

.card-category {
    @apply md:max-w-xl w-full
}

.card-label {
    @apply bg-gray-300 rounded-md px-2 py-1 w-fit mb-2
}

/* button */

.btn {
    @apply py-1 px-2 md:px-4 text-center rounded transition-colors duration-300 ease-in-out
}

.primary-btn {
    @apply border-2 border-sky-800 bg-sky-800 text-white box-border
}

.primary-btn:hover,
.primary-btn:active,
.primary-btn:focus {
    @apply border-2 border-sky-800 bg-white text-sky-800
}

.btn-open-slide-form {
     @apply flex flex-col items-center justify-center font-bold py-2
 }

.btn-open-slide-form svg {
    transition: transform 0.3s ease;
}

.btn-open-slide-form[aria-expanded="true"] svg {
    transform: rotate(180deg); /* Faire pivoter la flèche vers le haut lorsque le formulaire est visible */
}



.secondary-btn {
    @apply border-2 border-sky-800 bg-white text-sky-800 box-border
}
.secondary-btn:focus {
    @apply border-2 border-sky-800 bg-sky-800 text-white
}

/* Accessoires */

.row {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

/* add_issue.html */

.form-add-slide {
    @apply flex flex-col mx-auto md:w-3/4 md:max-w-xl md:px-6 md:py-4 rounded-md overflow-hidden bg-white
}

.form-control {
    @apply block p-1 m-1 pl-0 ml-0
}

.form-text-area, input {
    @apply w-full border-2 border-gray-300 outline-none rounded-md resize-none px-2
}


/* Colors */

.text-blue-600-class {
    @apply text-blue-600
}