@tailwind base;
@tailwind components;
@tailwind utilities;


@tailwind base;
@tailwind components;
@tailwind utilities;




/* global */

body {
    @apply h-full bg-gray-50 text-gray-800
}

.container {
    @apply md:p-6 p-2 border bg-white rounded-md overflow-hidden
}

.main {
    @apply md:max-w-4xl md:p-6 max-w-xl mx-auto p-2 flex flex-col items-center
}

.title-category {
    @apply text-2xl my-6 text-center
}

.disable-link {
    pointer-events: none;
}

.span-description {
    @apply font-medium mt-3;
}


/* Table */
.table-cell-p {
    @apply md:px-4 md:py-2 p-1
}

/* Cartes d'en tête */

.card-head-apart {
    @apply md:max-w-xl w-full bg-white grid grid-cols-9
}

.card-head-apart-col-label {
    @apply col-span-5 md:col-span-4 md:col-start-1 pr-2
}

.card-head-apart-col-btn {
    @apply flex flex-col justify-start gap-2 col-start-6 col-end-10 md:col-start-7
}

.card-apart-row-bottom {
    @apply w-full mt-2 md:mt-4 col-start-4 col-end-7 justify-self-center
}

/* card */

.card-apart-width {
    max-width: calc(50% - 16px);
}

.card-apart-name {
    @apply text-xl font-semibold mb-2 col-span-full
}

.card-category {
    @apply md:max-w-xl w-full
}

.card-label {
    @apply bg-gray-300 rounded-md px-2 py-1 w-fit mb-2
}

/* button */

.btn {
    @apply md:text-base md:px-4 p-1 font-semibold text-sm text-center transition ease-in-out
}

.primary-btn {
    @apply border-2 border-sky-800 bg-sky-800 text-white box-border
}
.primary-btn:focus {
    @apply border-2 border-sky-800 bg-white text-sky-800
}

.secondary-btn {
    @apply border-2 border-sky-800 bg-white text-sky-800 box-border
}
.secondary-btn:focus {
    @apply border-2 border-sky-800 bg-sky-800 text-white
}


/* index */

.form-add-apart {
    @apply grid grid-cols-9 w-full
}

/* add_issue.html */

.form-add-issue {
    @apply md:max-w-xl md:px-6 md:py-4 w-3/4 p-2 border rounded-md overflow-hidden bg-white
}

.input-inline-form-add-issue {
    @apply flex justify-between mb-4
}
.input-inline-form-add-issue > label {
    @apply w-1/3
}

.input-inline-form-add-issue > select {
    @apply w-1/2 bg-gray-300
}

.form-text-area {
    @apply w-full border-2 border-gray-300 outline-none rounded-md resize-none px-2
}

/* add_apartment.html */

.input-inline-form-add-apart {
    @apply col-span-full pt-2
}

.form-control-input{
    @apply border-b-2 border-sky-800 w-1/2
}
.form-control-input:focus {
    @apply outline-none
}

.number-input {
    @apply w-12
}

.label-input {
    @apply flex flex-col my-1 w-full
}

.errorlist {
    @apply text-red-600 my-1
}

/* Modal add-modal-issue-success */

.modal-success-issue {
    display: none;
    @apply absolute right-2 top-2 bg-green-600 rounded-md p-2 text-white
 }

.show {
    @apply block
}

/* sheets.html */

.container {
    @apply md:p-6 p-2 border bg-white rounded-md overflow-hidden
}


.modal-content {
    background-color: #fefefe;
    margin: 25% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    position: relative;
}

.modal-content {
    @apply md:mt-60
}
.close-add, .close-delete {
    position: absolute;
    top: 0;
    right: 25px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-add:hover, .close-delete:hover,
.close:focus, .close-delete:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Afficher / Masquer */

.toggle-content {
    display: none;
}

.show-form-add-apart {
    display: grid;
}

.box-arrow {
    height: 20px;
    width: 20px;
    border: none;
    cursor: pointer;
    display: inline;
    position: relative;
}

.contain-lines {
    height: 18px;
    width: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.line {
    position: absolute;
    border-radius: 10px;
    width: 15px;
    height: 2px;
    background: black;
    top: 8px;
}

.box-arrow .line:nth-child(1) {
    rotate: 45deg;
    translate: calc(-25% - 1px);
    transition:
    transform 0.3s ease-out;
}

.box-arrow .line:nth-child(2) {
    rotate: -45deg;
    translate: calc(25% + 1px);
    transition:
    transform 0.3s ease-out;
}

.box-arrow.active .line:nth-child(1) {
    transform: rotate(-90deg);
    transition:
    transform 0.3s ease-out;
}

.box-arrow.active .line:nth-child(2) {
    transform: rotate(90deg);
    transition:
    transform 0.3s ease-out;
}

.btn-add-issue {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-add-issue svg {
    transition: transform 0.3s ease;
}

.btn-add-issue[aria-expanded="true"] svg {
    transform: rotate(180deg); /* Faire pivoter la flèche vers le haut lorsque le formulaire est visible */
}

.form-control {
    @apply block p-1 m-1 pl-0 ml-0
}