{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Apartools</title>
    <link rel="stylesheet" href="{% static '/css/style_output.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.2" defer></script>
    <script src="{% static '/js/details.js' %}" defer></script>
</head>

<header>
    <nav>
        <ul class="flex">
            <li class="text-red-600"><a href="{% url 'index' %}">Apartools</a></li>
            <li><a href="{% url 'apartments_list' %}">Les appartements</a></li>
            <li>Mon compte</li>
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Déconnexion</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% if user.is_authenticated %}
        {% block content %}
        {% endblock %}
    {% else %}
        {% block login_user %}
        {% endblock %}
    {% endif %}
</body>
</html>