{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Apartools</title>
    <link rel="stylesheet" href="{% static '/css/style_output.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.2" defer></script>
    <script src="{% static '/js/details.js' %}" defer></script>
</head>

<header>
    <nav class="py-4 border-b shadow-sm">
        <ul class="flex justify-evenly text-center">
            <li class="flex-grow-4 md:pl-8 pl-1 text-left text-red-600"><a href="{% url 'index' %}">Apartools</a></li>
            {% if user.is_authenticated %}
                <li class="flex-grow"><a href="{% url 'apartments_list' %}">Les apparts</a></li>
                <li class="flex-grow"><a href="" title="A venir..">Mon compte</a></li>
                <li class="flex-grow"><a href="{% url 'logout' %}">Déconnexion</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="main">
    {% if user.is_authenticated %}
        {% block content %}
        {% endblock %}
    {% else %}
        {% block login_user %}
        {% endblock %}
    {% endif %}
    </div>
</body>
</html>